# Backend Environment Variables
# MariaDB/MySQL Connection
NS_MARIADB_HOSTNAME=db
NS_MARIADB_USER=scheduler_app_user
NS_MARIADB_PASSWORD=your_strong_password
NS_MARIADB_DATABASE=schedule_app_db
NS_MARIADB_PORT=3306
MYSQL_ROOT_PASSWORD=your_strong_root_password

# Google OAuth Credentials
# https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=id_google
GOOGLE_CLIENT_SECRET=soo_gooogle

# Frontend Environment Variables
# The base URL for the backend API
VITE_API_BASE_URL=/api
